@using LaptopShopOnline.Model.Entities

@model List<Cart>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Content/Client/js/Controller/cartController.js"></script>
}


<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->

<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @if (Model.Count > 0)
        {
            <div class="table-responsive">
                @{
                    var groupedCarts = Model.ToLookup(x => x.Product.Shop);
                    foreach (var groupedCart in groupedCarts)
                    {
                        <div class="row my-5">
                            <div class="row my-5">
                                <h6>
                                    Cửa hàng : @groupedCart.Key?.Name
                                </h6>
                            </div>
                            <table class="row table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <td>Tên sản phẩm</td>
                                        <td>Ảnh sản phẩm</td>
                                        <td>Số lượng</td>
                                        <td>Đơn giá</td>
                                        <td>Thành tiền</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cart in groupedCart)
                                    {
                                        @Html.Partial("_EditPartialView", cart);
                                    }
                                </tbody>
                            </table>
                            <div class="row my-5 d-flex justify-content-end align-items-center">
                                <button class="btn"><a href="/don-hang/tao?shopId=@groupedCart.Key.Id">Đặt hàng theo cửa hàng</a></button>
                            </div>
                        </div>
                    }
                }

                <div class="row  d-flex justify-content-start align-items-center">
                    <button class="btn"><a href="/">Tiếp tục mua hàng</a></button>
                    <button class="btn"><a href="/gio-hang/xoa">Xóa giỏ hàng</a></button>
                    <button class="btn"><a href="/don-hang/tao?shouldOrderAll=true">Đặt hàng tất cả</a></button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <span class="alert alert-danger" style="margin-top: 40px;">Chưa có sản phẩm nào trong giỏ hàng</span>
            </div>
        }
    </div>
</div>



<script>
    function updateQuantity() {
        var listProduct = $('.txtQuantity');
        var cartList = [];
        $.each(listProduct, function (i, item) {
            cartList.push({
                Quantity: $(item).val(),
                ProductId: $(item).data('id')
            })
        });
        $.ajax({
            url: '/gio-hang/cap-nhat',
            data: { cartModel: JSON.stringify(cartList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {
                    window.location.href = "/gio-hang";
                }
            }
        })
    };
</script>
