@using LaptopShopOnline.WebApp.Models

@model CreateOrderModel
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Content/Client/js/Controller/cartController.js"></script>
}


<div class="container">
    <!--start-breadcrumbs-->
    <div class="col-md-12">
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-main">
                    <ol class="breadcrumb">
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <div class="col-md-12">
        @if (Model.Carts.Count > 0)
        {
            <div class="col-md-12 my-5">
                <div class="table-responsive container">
                    @{
                        var groupedCarts = Model.Carts.ToLookup(x => x.Product.Shop);
                        foreach (var groupedCart in groupedCarts)
                        {
                            <div class="col-md-12 my-5">
                                <div class="col-md-12 my-5">
                                    <h6>
                                        Cửa hàng : @groupedCart.Key?.Name
                                    </h6>
                                </div>
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <td>Tên sản phẩm</td>
                                            <td>Ảnh sản phẩm</td>
                                            <td>Số lượng</td>
                                            <td>Đơn giá</td>
                                            <td>Thành tiền</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cart in groupedCart)
                                        {
                                            @Html.Partial("_EditPartialView", cart);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }

                    <div class="col-md-12 my-5">
                        @Html.Partial("_CreateOrderPartialView", Model.Order);
                    </div>

                    <p>
                        <button class="btn"><a href="/">Tiếp tục mua hàng</a></button>
                        <button class="btn"><a href="/gio-hang">Giỏ hàng</a></button>
                        <button class="btn"><a href=@CommonConstants.ROUTE_DON_HANG_PARAMS>Đặt hàng</a></button>
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <span class="alert alert-danger" style="margin-top: 40px;">Chưa có sản phẩm nào trong giỏ hàng</span>
            </div>
        }
    </div>

</div>

<script>
    function updateQuantity() {
        var listProduct = $('.txtQuantity');
        var cartList = [];
        $.each(listProduct, function (i, item) {
            cartList.push({
                Quantity: $(item).val(),
                ProductId: $(item).data('id')
            })
        });
        $.ajax({
            url: '/gio-hang/cap-nhat',
            data: { cartModel: JSON.stringify(cartList) },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {
                    window.location.href = "/gio-hang";
                }
            }
        })
    };
</script>