
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner-starts-->
<!--banner-ends-->

<!--End-slider-script-->
<!--start-banner-bottom
<!--end-banner-bottom-->
<div class="shoes">
    <div class="container">
        <div class="product-one">
            <div><h6>Sản phẩm xu hướng</h6>></div>
            @await Component.InvokeAsync("LoadHotProduct")
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--start-shoes-->
<div class="shoes">
    <div class="container">
        <div class="product-one">
            <div><h6>Sản phẩm khác</h6>></div>
            @await Component.InvokeAsync("LoadNormalProduct1")
            <div class="clearfix"> </div>
        </div>
        <div class="product-one">
            <div><h6>Sản phẩm khác</h6>></div>
            @await Component.InvokeAsync("LoadNormalProduct2")
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--end-shoes-->
<!--start-abt-shoe-->
<div class="shoes">
    <div class="container">
        <div class="product-one">
            <div><h6>Sản phẩm mới</h6>></div>
            @await Component.InvokeAsync("LoadNewProduct")
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--end-abt-shoe-->