
@using LaptopShopOnline.WebApp.Common
@using System.Text.RegularExpressions;

@{
    var userLoginSession = Context.Session.Get<UserLogin>(CommonConstants.USER_LOGIN_SESSION);
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/quan-tri/trang-chu">
        <i class="fas fa-laptop  fa-2x"></i>
        <div class="sidebar-brand-text mx-3">BKTech</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/quan-tri/trang-chu">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>


    @if (userLoginSession != null && Regex.IsMatch(userLoginSession.GroupId, CommonConstants.USER_GROUP_ID_PREFIX_MANAGER))
    {
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý chung
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Giao diện</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/quan-tri/menu">Menu</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-pen-square"></i>
                <span>Quản lý tin tức</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/quan-tri/tin-tuc">Tin tức</a>
                    <a class="collapse-item" href="/quan-tri/loai-tin-tuc">Loại tin tức</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý hệ thống
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-users"></i>
                <span>Quản lý người dùng</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_NHOM_NGUOI_DUNG_PARAMS>Nhóm người dùng</a>
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_PARAMS>Tài khoản người dùng</a>
                    <a class="collapse-item" href="@CommonConstants.ROUTE_QUAN_TRI_QUYEN_PARAMS">Quyền</a>
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_PHAN_QUYEN_PARAMS>Phân quyền</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý kinh doanh
        </div>
        <!--Order, Order Detail-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShops" aria-expanded="true" aria-controls="collapseShops">
                <i class="fa fa-store"></i>
                <span>Quản lý cửa hàng</span>
            </a>
            <div id="collapseShops" class="collapse" aria-labelledby="headingShops" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_CUA_HANG>Cửa hàng</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
                <i class="fas fa-cubes"></i>
                <span>Quản lý sản phẩm</span>
            </a>
            <div id="collapseProducts" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_SAN_PHAM_PARAMS>Sản phẩm</a>
                    <a class="collapse-item" href=@CommonConstants.ROUTE_QUAN_TRI_DANH_MUC_SAN_PHAM_PARAMS>Danh mục sản phẩm</a>
                </div>
            </div>
        </li>
        <!--Order, Order Detail-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="true" aria-controls="collapseOrders">
                <i class="fab fa-jedi-order"></i>
                <span>Quản lý đơn hàng</span>
            </a>
            <div id="collapseOrders" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/quan-tri/don-dat-hang">Đơn hàng</a>
                </div>
            </div>
        </li>
    }

    @if (userLoginSession != null && Regex.IsMatch(userLoginSession.GroupId, CommonConstants.USER_GROUP_ID_PREFIX_SELLER))
    {
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý kinh doanh
        </div>
        <!--Order, Order Detail-->
        <li class="nav-item">
            <a class="nav-link collapsed" href=@CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_CUA_HANG_CAP_NHAT_PARAMS>
                <i class="fas fa-store"></i>
                <span>Quản lý thông tin cửa hàng</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href=@CommonConstants.ROUTE_QUAN_TRI_SAN_PHAM_PARAMS>
                <i class="fas fa-cubes"></i>
                <span>Quản lý sản phẩm</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/quan-tri/nguoi-ban/don-hang">
                <i class="fas fa-pen-square"></i>
                <span>Quản lý đơn hàng</span>
            </a>
        </li>
    }


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->