<div class="footer-text">
    <div class="container">
        <div class="footer-main">
            <p class="footer-class">
                CoppyRight | Address | PhoneNumber
            </p>
        </div>
    </div>
</div>