
@using LaptopShopOnline.WebApp.Common


@{
    var userLoginSession = Context.Session.Get<UserLogin>(CommonConstants.USER_LOGIN_SESSION);
}

<div class="container-fluid">
    <header>
        <div class="row no-gutters p-5 flex-nowrap justify-content-between align-items-center text-secondary">
            <div class="col-md-4">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @action = CommonConstants.ROUTE_SAN_PHAM_PARAMS, @class = "row" }))
                {
                    @Html.TextBox("searchString", null, new { @class = "col-md-8 form-control mr-1", @value = ViewBag.SearchString })
                    <button type="submit" class="col-md-1 btn btn-link"><i class="fa fa-search text-secondary"></i></button>
                }
            </div>
            <div class="col-md-4 text-center">
                <a href="/trang-chu"><img src="~/Content/Client/images/LogoBKTech_01.png" alt="LOGO BKTech" class="img-fluid" style="width: auto; height: 4rem;" /></a>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                @if (userLoginSession == null)
                {
                    <a class="btn btn-sm btn-outline-secondary mr-1" href=@CommonConstants.ROUTE_DANG_NHAP_PARAMS>Đăng nhập</a>
                    <a class="btn btn-sm btn-outline-secondary mr-1" href="#">Đăng ký</a>
                }
                else
                {
                    <div class="col-md-4 px-1 row justify-content-end">
                        @await Component.InvokeAsync("HeaderCart")
                    </div>
                    <div class="col-md-4 px-1 row justify-content-end">
INFO
                    </div>
                    <div class="col-md-4 px-1 row justify-content-end">
                        <a class="btn btn-sm btn-outline-secondary mr-1" href=@CommonConstants.ROUTE_DANG_XUAT_PARAMS>Đăng xuất</a>
                    </div>
                }
            </div>
        </div>
    </header>
</div>

@*<div class="top-component">
        <div class="float-left">
            <p>Bạn cần hỗ trợ? <span class="text-danger"> Gọi cho chúng tôi: </span><a href="#"> 0388.333.444</a></p>
        </div>
        <div class="float-right">
            @if (userLoginSession == null)
            {
                <a href="/dang-ky" class="nav-link">Đăng ký</a>
                <a href="/dang-nhap" class="nav-link">Đăng nhập</a>
            }
            else
            {
                <a href="@Url.Action("Logout", "User")" class="nav-link" data-toggle="tooltip" title="Đăng xuất"><i class="fas fa-sign-out-alt"></i></a>
                <a href="/ho-so-nguoi-dung?id=@userLoginSession.UserId" data-toggle="tooltip" title="Hồ sơ người dùng" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-danger"><span class="text-primary">Xin chào:</span> @userLoginSession.UserName</span>
                </a>
            }
        </div>
    </div>
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="row mb-2">
                        <div class="row search-bar col-md-4">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = CommonConstants.ROUTE_SAN_PHAM_PARAMS, @class = "col-md-12 row"}))
                                {
                                    @Html.TextBox("SearchString", null, new { @class = "col-md-8 form-control float-left", @value = ViewBag.SearchString })
                                    <button type="submit" class="btn btn-secondary ml-1"><i class="fa fa-search"></i></button>
                                }
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            @if (userLoginSession != null)
                            {
                                @await Component.InvokeAsync("HeaderCart")
                            }
                        </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 text-center">
                        <a href="/trang-chu"><img src="~/Content/Client/images/LogoBKTech_01.png" alt="LOGO BKTech" class="img-fluid"/></a>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
<!--<p>logo-4.png</p>-->