
@using LaptopShopOnline.WebApp.Common


@{
    var userLoginSession = Context.Session.Get<UserLogin>(CommonConstants.USER_LOGIN_SESSION);
}

<div class="container-fluid">
    <header>
        <div class="row no-gutters p-5 flex-nowrap justify-content-between align-items-center text-secondary">
            <div class="col-md-4">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @action = CommonConstants.ROUTE_SAN_PHAM_PARAMS, @class = "row" }))
                {
                    @Html.TextBox("searchString", null, new { @class = "col-md-8 form-control mr-1", @value = ViewBag.SearchString })
                    <button type="submit" class="col-md-1 btn btn-link"><i class="fa fa-search text-secondary"></i></button>
                }
            </div>
            <div class="col-md-4 text-center">
                <a href="/trang-chu"><img src="~/Content/Client/images/LogoBKTech_01.png" alt="LOGO BKTech" class="img-fluid" style="width: auto; height: 4rem;" /></a>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                @if (userLoginSession == null)
                {
                    <a class="btn btn-sm btn-outline-secondary mr-1" href=@CommonConstants.ROUTE_DANG_NHAP_PARAMS>Đăng nhập</a>
                    <a class="btn btn-sm btn-outline-secondary mr-1" href=@CommonConstants.ROUTE_DANG_KY_PARAMS>Đăng ký</a>
                }
                else
                {
                    <div class="col-md-4 px-1 row no-gutters justify-content-end">
                        @await Component.InvokeAsync("HeaderCart")
                    </div>
                    <div class="col-md-4 px-1 row no-gutters justify-content-end">
                        <a class="text-secondary" data-toggle="dropdown">
                            Xin chào: @userLoginSession.UserName
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item text-secondary" href=@CommonConstants.ROUTE_CAP_NHAT_PROFILE_PARAMS>Cập nhật Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-secondary" href=@CommonConstants.ROUTE_CAP_NHAT_MAT_KHAU_PARAMS>Cập nhật mật khẩu</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 px-1 row no-gutters justify-content-end">
                        <a class="btn btn-sm btn-outline-secondary" href=@CommonConstants.ROUTE_DANG_XUAT_PARAMS>Đăng xuất</a>
                    </div>
                }
            </div>
        </div>
    </header>
</div>